@media (min-width: 992px) {
    .col-lg-7 {
      flex: 0 0 auto;
      width: 100%;
    }
  }

#estado,
#cidades {
  font-size: .8rem;
  border-radius: 10rem;
  padding: 1rem;
}

#estado::placeholder,
#cidades::placeholder {
  color: #858796;
  opacity: 1;
}

.flash {
  color: red;
}

#noPermission {
  display: none;
 }