.title-name {
    text-align: center;
}

#td_mg {
    margin-left: 10px;
  }
  
  #edit {
    margin-right: 20px;
  }
  
  .badge {
    position: relative;
    left: -10px;
    top: -9px;
  }
  
  .fas.fa-info-circle {
    color: white;
  }

