.sidebar.sidebar-dark.accordion {
    background-color: #0B5884;
  }
  
  .font-span span {
    font-size: .95rem;
  }
  
  .fas-color {
    color: var(--bs-cyan);
  }
  
  .fas-color:hover {
    color: var(--bs-teal);
  }
  
  .alert-style {
    background-color: var(--bs-yellow);
  }
  
  @media (min-width: 768px) {
    .sidebar .nav-item .nav-link i {
      font-size: 1.4rem;
      margin-right: .25rem;
    }
  }
  
  .title-reserva {
    color: #f6c23e;
  }
  
  .text-dark {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  }


  .dropdown .dropdown-list .dropdown-header {
    background-color: var(--bs-yellow);
    border: 1px solid #f6c23e;
    padding-top: .75rem;
    padding-bottom: .75rem;
    color: #fff;
  }